<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-Manager</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Log In</h1>

    <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
    <form method="POST" th:action="@{/login}" th:object="${loginForm}">
        <div>
            <label for="username">Username: </label>
            <input class="input" type="text" name="username" id="username" /><br/>

        </div>
        <div>
            <label for="password">Password: </label>
            <input class="input" type="password" name="password" id="password" /><br/>

        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
<br>
<div class="validationError" th:if="${error}">
    <span th:text="${error}"></span>
</div>
</body>
</html>